[Unit]
Description=rpiclock
After=network.target

[Service]
ExecStart=/home/pi/project/rpiclock/.venv/bin/python -u rpiclock.py
WorkingDirectory=/home/pi/project/rpiclock
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
